{% extends 'resume_generator/base.html' %}

{% block content %}


<style>
    h1 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .container {
        background-color: #fff;
        color: #212529;
        /* max-width: 600px; */

        margin: 0 auto;
        /* margin-left: 14vw; */
    }

    .btn-primary {
        background-color: rgb(32, 78, 207);
        color: #fff;
        border-color: #fff;
    }

    table {
        background-color: #ffffff;
        border-collapse: separate;
        width: 100%;
    }

    thead {
        background-color: #f5f5f5;
    }

    th {
        border: 0px solid #dddddd;
        text-align: center;

    }

    td {
        border: 0px solid #dddddd;
        text-align: center;
        padding: 8px;
        vertical-align: middle;
    }


    .table thead th {
        top: 0;
        position: sticky;
        background-color: #dddddd;
    }

    /* .table-responsive {
    max-width: 1800px; /* Change this to your desired max width */
    /* margin: 0 auto;
    overflow-x: auto;
    } */

    
</style>

<body>

    <div class="container">
        <h1>Projects</h1>
        <button type="button" class="btn btn-success mb-3" onclick="location.href='/projects/create_project/'">Add
            Project</button>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 4%">ID</th>
                            <th style="width: 19%">Name</th>
                            <th style="width: 29%">Technology Used</th>
                            <th style="width: 11%">Start Date</th>
                            <th style="width: 11%">End Date</th>
                            <th style="width: 9%">Status</th>
                            <th style="width: 18%">Actions</th>
                        </tr>
                    </thead>
                <tbody class="scrollable">
                    {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{project.coding_skills_used.all|join:', ' }}, {{ project.tools_used.all|join:', ' }}</td>
                <td>{{ project.start_date }}</td>
                <td>{% if project.status == 'active' and project.end_date is None %}
                    In Progress
                {% elif project.status == 'close' and project.end_date is None %}
                    --------
                {% else %}
                    {{ project.end_date }}
                {% endif %}</td>
                <td>{{ project.status }}</td>

                <td>
                    <form action="{% url 'edit_project' project.id %}" method="GET" class="d-inline">
                        <button type="submit" class="btn btn-primary me-2">Edit</button>
                    </form>
                    <form action="{% url 'delete_project' project.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    </div>


    </div>



    <!-- <div class="container mt-4">
        <h1>Projects</h1>
        <div class="row mb-3">
            <div class="col-sm-12 col-md-6">
            </div>
            <div class="col-sm-12 col-md-6 text-md-end">
                <a href="#" class="btn btn-primary">
                    Add New Project
                </a>
            </div>
        </div>

    </div> -->
</body>
{% endblock %}